OIDC_REALM=cellifi-local
DATABASE_URL=postgresql://inventory_user:inventory_password@localhost:5432/inventory_local
INVENTORY_DATABASE_URL=postgresql://inventory_user:inventory_password@localhost:5432/inventory_local
PRIVATE_BUCKET_NAME=cellifi-local
CACHE_REDIS_URL=redis://localhost:6380
CACHE_REDIS_KEY_PREFIX=cellifi:local:inventory
SERVICE_ENCRYPTION_KEY=local-inventory-service-encryption-key
CELLIFI_AWS_REGION=us-east-1
S3_ENDPOINT=http://localhost:4566
INVENTORY_AWS_ENDPOINT_URL=http://localhost:4566
CELLIFI_AWS_ACCESS_KEY_ID=test
CELLIFI_AWS_SECRET_ACCESS_KEY=test
CLOUDFRONT_DOMAIN=cdn.local.cellifi.com
MP_FE_URL=http://localhost:3001
AUTH_SHARED_AUTHORIZER_ARN=arn:aws:lambda:us-east-1:975049995405:function:cellifi-auth-local-authorizer
